<script type="text/javascript" src="common/cominfo/environmentalattributes.js"></script>
<title>排污许可证统计</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>数据统计</cite></a>
        <a><cite>排污许可证</cite></a>
    </div>
</div>

<style type="text/css">
    .total-top{
        margin: 15px 0 0 20px;
    }
    .total-center{
        margin: 25px 0 0 20px;
    }
    .total-title{
        height: 150px;
        width: 14%;
        border: 1px solid grey;
        padding: 10px;
        display:inline-block;
        margin-right: 0.7%;
    }
    .total-title-top{
        width: 350px;
        margin-right: 20px;
        display:inline-block;
    }
    .total-margin-top{
        margin-top: 15px
    }
    .total-div-top{
        margin-top: 25px
    }
    .total-container {
        height: 160px;
        border: 1px solid grey;
    }
    .total-left-content{
        float: left;
        height: 400px;
        width: 59%;
        border: 1px solid grey;
        display:inline-block;
    }
    .total-right-content{
        float: right;
        height: 400px;
        width: 40%;
        border: 1px solid grey;
        display:inline-block;
    }
    .total-left-content-top{
        height: 50px;
        width: 100%;
        display:inline-block;
    }
    .total-left-content-top,.total-right-content-top span{
        font-size: 14px;
        line-height: 50px;
        margin-left: 15px;
        font-family: 黑体;
    }
    .total-left-content-down{
        height: 350px;
        width: 100%;
        border-top: 1px solid grey;
        display:inline-block;
    }
    .total-right-content-top{
        height: 50px;
        width: 100%;
        display:inline-block;
    }
    .total-right-content-down{
        height: 350px;
        width: 100%;
        border-top: 1px solid grey;
        display:inline-block;
    }
    .total-box-radio{
        width:65px;
        height:65px;
        margin: 10px auto;
        border: 1px solid;
        text-align: center;
        line-height: 65px;
        font-weight: bold;
        border-radius: 50%;//圆角百分比
    }
    .total-content-div{
        margin:40px 0 0 15px;
    }
    .total-content-div div:first-child span{
        font-size: 13px;
    }
    .total-content-span{
        font-size: 26px;
        font-family: 黑体;
        margin-top: 15px;
    }
    .total-font{
        font-size: 40px;
        color: #F2F2F2;
    }
    #year{
        display: inline-block;
        margin-left: 45px;
    }
    #year span{
        padding:6px 30px;
        border: 1px solid #CCCCCC;
        text-align: center;
        color: white;
        cursor: pointer;
        background-color: #CCCCCC;
        border-radius: 6%;//圆角百分比
    }
    #year span:not(:first-child){
        margin-left: 25px;
    }
    #totalType{
        display: inline-block;
        margin-left: 5px;
    }
    #totalType span{
        padding:5px 31px;
        border: 1px solid #CCCCCC;
        text-align: center;
        color: #CCCCCC;
        cursor: pointer;
        background-color: #FFFFFF;
        border-radius: 6%;//圆角百分比
    }
    #totalType span:not(:first-child){
        margin-left: 25px;
    }
    #monitorProject{
        display: inline-block;
        margin-left: 12px;
    }
    #monitorProject input:not(:first-child){
        margin-left: 40px;
    }
    #monitorProject input{
        margin-right: 5px;
        cursor: pointer;
    }
    #portType{
        width: 150px;
        height: 32px;
        border-color:#e6e6e6;
        cursor: pointer;
        margin-left: 10px;
    }

</style>

<div class="layui-fluid" id="" >
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3 enterpriseType " data-type="OnlineMonitoringEnterprise" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #49A9EE;border: 1px solid #49A9EE;">
                        <i class="iconfont total-font">&#xe69e;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">本年度发放排污许可证</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="cutcasescount"></span><span>个</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="layui-col-sm6 layui-col-md3 enterpriseType" data-type="KeyMonitoringEnterprises" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #FFCC66;border: 1px solid #FFCC66;">
                        <i class="iconfont total-font">&#xe662;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">累计发放排污许可证</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="curmonerycount"></span><span>个</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 enterpriseType" data-type="WasteDischargeEnterprise" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #99CC00;border: 1px solid #99CC00;">
                        <i class="iconfont total-font">&#xe761;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">本年度发放正式排污许可证</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="growthRate"></span><span>个</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 enterpriseType" data-type="emissionEnterprise" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #FF6633;border: 1px solid #FF6633;">
                        <i class="iconfont total-font">&#xe7a9;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">本年度发放临时排污许可证</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="changeMoneys"></span><span>个</span>
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="layui-col-sm12">-->
        <!--<div class="layui-card">-->
        <!--<div class="layui-card-header">-->
        <!--<span class="layuiadmin-span-color" style="margin:0px 30px 0px 0px">年份</span>-->
        <!--<button class="layui-btn layui-btn-radius layui-bg-blue">2018年</button>-->
        <!--<button class="layui-btn layui-btn-radius layui-bg-blue">2017年</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-col-sm12">-->
        <!--<div class="layui-card">-->
        <!--<div class="layui-card-header">-->
        <!--<span class="layuiadmin-span-color" style="margin:0px 30px 0px 0px">统计类型</span>-->
        <!--<button class="layui-btn layui-btn-radius layui-bg-blue">处罚金额</button>-->
        <!--<button class="layui-btn layui-btn-radius layui-bg-blue">案件数量</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="layui-col-md12 ">
            <div class="layui-card ">
                <div class="layui-card-body">
                    <div style="display: inline-block;margin-left: 12px;">年份</div>
                    <div id="year">
                        <!--<span class="layui-btn-sm">2018</span>-->
                        <!--<span class="layui-btn-sm">2017</span>-->
                    </div>
                </div>

            </div>
        </div>
        <!--    <div class="layui-col-md12 ">
                <div class="layui-card">
                    <div style="display: inline-block ; margin-left: 12px;
        margin-right: 12px;">统计类型</div>
                    <div id="totalType">
                        <span class="layui-btn-sm">金额</span>
                        <span class="layui-btn-sm">数量</span>

                    </div>

                </div>
            </div>
    -->
        <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm8">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span class="layuiadmin-span-color" >各月排污许可证发放数量统计<i class="layui-inline layui-icon layui-icon-flag"></i></span>
                        </div>
                        <div class="layui-card-body">
                            <!--<div class="layui-row">-->
                            <!--<div class="layui-col-sm8">-->
                            <!--<div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" style="width: 100%; height: 280px;">
                                &lt;!&ndash;<div carousel-item="" id="LAY-index-pagetwo1">&ndash;&gt;
                                &lt;!&ndash;<div  id="LAY-disposed_chart" style="margin:0 auto;height: 550px;width: 1080px;background: white">&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<div style="position: relative; overflow: hidden; width: 1082px; height: 332px;">&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<div data-zr-dom-id="bg" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 332px; user-select: none;"></div>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<canvas width="1082" height="332" data-zr-dom-id="0" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<canvas width="1082" height="332" data-zr-dom-id="1" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<canvas width="1082" height="332" data-zr-dom-id="_zrender_hover_" class="zr-element" style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;<div class="echarts-tooltip zr-element" style="position: absolute; display: none; border-style: solid; white-space: nowrap; transition: left 0.4s, top 0.4s; background-color: rgba(50, 50, 50, 0.5); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font-family: 微软雅黑, Arial, Verdana, sans-serif; padding: 5px; left: 744px; top: 156px;">9月<br>访问量 : 1,250<br>下载量 : 1,100<br>平均访问量 : 1,000</div>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;
                                &lt;!&ndash;</div>&ndash;&gt;
                                &lt;!&ndash;</div>&ndash;&gt;
                            </div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="total-left-content-down">
                                <div id="monthTotal" style="height: 99%;width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span class="layuiadmin-span-color" >本年度排污许可证发放数量与去年对比<i class="layui-inline layui-icon layui-icon-flag"></i></span>
                        </div>
                        <div class="layui-card-body">
                            <div class="total-right-content-down">
                                <div id="compareTotal" style="height: 99%;width: 100%"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm8">
                    <div class="layui-card">
                        <div class="layui-card-header">本年度各行业排污许可证发放数量统计</div>
                        <div class="layui-card-body">
                            <div class="total-left-content-down">
                                <div id="yearindusStatic" style="height: 99%;width: 100%">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span class="layuiadmin-span-color" style="margin:0px 80px 0px 0px">本年度行业排污许可证发放数量占比统计</span>
                        </div>
                        <div class="layui-card-body">
                            <div class="total-right-content-down">
                                <div id="percentStatic" style="height: 99%;width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script id="detail_chats_dlg" type="text/html">
    <div class="layui-fluid">
        <div class="layui-card">
            <div id="LAY-disposed_chart2" style="height: 600px;width: 800px;">
            </div>
        </div>
    </div>
</script>

<script id="recordShowInfo" type="text/html">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card-body">
                <form class="layui-form" id="marketContractManageeditShowInfo" action="" lay-filter="component-form-element">
                    <input type="hidden" name="pid"/>
                    <input type="hidden" name="cid"/>
                    <table class="reporttable">
                        <tr>
                            <td>排污许可证编号：</td>
                            <td>
                                <input type="text" readonly name="permitCode" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>证书类型：</td>
                            <td>
                                <input type="text" readonly name="permitTypeName" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>单位名称：</td>
                            <td>
                                <input type="text" readonly name="companyName" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>生产经营场所地址：</td>
                            <td>
                                <input type="text" readonly name="companyAddress" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>行业类别：</td>
                            <td>
                                <input type="text" readonly name="industry" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>技术负责人：</td>
                            <td>
                                <input type="text" readonly name="technologyLeader" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>联系电话：</td>
                            <td>
                                <input type="text" readonly name="linkphone" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>发证日期：</td>
                            <td>
                                <input type="text" readonly name="issueDate" lay-verify="required" value="" placeholder="" autocomplete="off" class="layui-input" lay-key="1">
                            </td>
                            <td>有效期开始日期：</td>
                            <td>
                                <input type="text" readonly name="startDate" lay-verify="required" value="" placeholder="" autocomplete="off" class="layui-input" lay-key="2">
                            </td>
                        </tr>
                        <tr>
                            <td>有效期结束日期：</td>
                            <td>
                                <input type="text" readonly name="endDate" lay-verify="required" value="" placeholder="" autocomplete="off" class="layui-input" lay-key="3">
                            </td>
                            <td>发证单位：</td>
                            <td>
                                <input type="text" readonly name="issueCompany" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>主要污染物类别：</td>
                            <td>
                                <input type="text" readonly name="mainWasteCategoryName" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>大气主要污染物种类：</td>
                            <td>
                                <input type="text" readonly name="airMainWaste" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>大气污染物排放规律：</td>
                            <td>
                                <input type="text" readonly name="airPollutantsRuleName" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>大气污染物排放执行标准：</td>
                            <td>
                                <input type="text" readonly name="airPollutantsStandard" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>废水主要污染物种类：</td>
                            <td>
                                <input type="text" readonly name="waterMainWaste" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>废水污染物排放规律：</td>
                            <td>
                                <input type="text" readonly name="waterPollutantsRule" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td>废水污染物排放执行标准：</td>
                            <td>
                                <input type="text" readonly name="waterPollutantsStandard" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                            <td>排污权使用和交易信息：</td>
                            <td>
                                <input type="text" readonly name="emissionsTrading" value="" placeholder="" autocomplete="off" class="layui-input">
                            </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>正本文件：</td>-->
                        <!--<td>-->
                        <!--<input type="text" readonly name="originalDocument" value="" placeholder="" autocomplete="off" class="layui-input">-->
                        <!--</td>-->
                        <!--<td>副本文件：</td>-->
                        <!--<td>-->
                        <!--<input type="text" readonly name="copyFile" value="" placeholder="" autocomplete="off" class="layui-input">-->
                        <!--</td>-->
                        <!--</tr>-->
                    </table>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-primary layui-btn-xs layui-bg-green" lay-event="zhengben">正本</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs layui-bg-blue" lay-event="fuben">副本</a>
</script>

<script>
    layui.use(['admin', 'table', 'util', 'laytpl','laydate','echarts','loadtab','layer','wasteProduceAndUse','statisticalBounced','attachment'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,laytpl = layui.laytpl
            ,laydate=layui.laydate
            ,setter = layui.setter
            , wasteProduceAndUse = layui.wasteProduceAndUse
            , statisticalBounced = layui.statisticalBounced
            ,loadtab = layui.loadtab
            ,form = layui.form
            ,attachment=layui.attachment
            ,echarts = layui.echarts
            ,global_obj = {}
            ,baseurl = setter.remoteServiceAddress + "/market/cominfoenvironmentalattributes"
            ,baseurl1 = setter.remoteServiceAddress + "/permit/pollutantdischargepermit/basespermitstatic"
            ,baseurl2 = setter.remoteServiceAddress + "/permit/pollutantdischargepermit/monthpermittatic"
            ,baseurl3 = setter.remoteServiceAddress + "/permit/pollutantdischargepermit/industrypermittatic"
            ,baseurl5 = setter.remoteServiceAddress + "/permit/pollutantdischargepermit";

        var router = layui.router();
        var pid=router.search.pid;
        var DISABLED = 'layui-btn-disabled';
        var hasPermission = false;
        var year =null;
//        wasteProduceAndUse.yearQuery("year");
        function monthTotal(data) {
            var month=[];
            var monthcount=[];
            var yearmonths = ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'];
            var yearmonthscounts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            for(var i = 0; i < data.length; i++){
                yearmonthscounts[(data[i].month-1)] = data[i].counts;
            }
            var chart = Highcharts.chart('monthTotal', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ''

                },
                exporting:{
                    enabled:false
                },
                /*subtitle: {   //副标题
                    text: '数据来源: WorldClimate.com'
                },*/
                xAxis: {
                    categories:yearmonths,
                    crosshair: true
                },
                yAxis: {
                    title: {
                        text: '发放数量(个)'
                    },
                    allowDecimals:false

                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    enabled: false
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        }
                        ,events: {
                            click: function (e) {
                                var yearMonth=year+"-"+changeDateTpl(admin,setter,e.point.category);
                                var whereConditions={
                                    hasPermission: hasPermission
                                    ,yearMonth:yearMonth
                                    ,differ:1
                                };
                                editwin(e.point.category,whereConditions);
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    name: '发放数量',
                    data: yearmonthscounts , // [43934, 52503, 57177, 69658, 77031, 119931, 137133, 154175, 194175, 214175, 254175, 304175]
                    zones: [{
                        color: '#33FF33 '
                    }]
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
        }
        function compareTotal(data,year) {

            var counts = [] ;
            if(!data==""){
                counts.push(data[0].curyearpermits);
                counts.push(data[0].lastyearpermit);
            }

            var chart = Highcharts.chart('compareTotal',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                exporting:{
                    enabled:false
                },
                xAxis: {
                    categories: [
                        '今年','去年'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '许可证发放数量（个）'
                    },
                    allowDecimals:false

                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f}个 </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                var yearType=changeDateTpl(admin,setter,e.point.category);
                                var whereConditions={
                                    hasPermission: hasPermission
                                    ,yearType:yearType
                                    ,differ:1
                                    ,year:year
                                };
                                editwin(e.point.category,whereConditions);
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    name: '个数',
                    data: counts

                    /*,
                    zones: [{
                        color: '#5599FF'
                    }]*/
                }]
            });
        }
        function yearindusStatic(data1,year) {

            var name = [] ;
            var industrypermits = [] ;
            var datatest = [] ;
            var lastdata = [] ;
            for(var i = 0; i < data1.length; i++){
                var dataObject = new Object();
                name[i] =data1[i].name;
                industrypermits[i] =data1[i].industrypermits;
                if(i==0){
                    dataObject.color = '#F6BD0F';
                }
                if(i==1){
                    dataObject.color = '#AFD8F8';
                }
                if(i==2){
                    dataObject.color = '#8BBA00';
                }
                if(i==3){
                    dataObject.color = '#FF8E46';
                }
                if(i==4){
                    dataObject.color = '#008E8E';
                }
                if(i==5){
                    dataObject.color = '#D64646';
                }
                if(i==6){
                    dataObject.color = '#FF88C2';
                }
                if(i==7){
                    dataObject.color = '#33FF33';
                }
                if(i==8){
                    dataObject.color = '#5500FF ';
                }
                if(i==9){
                    dataObject.color = '#BBBB00';
                }

                dataObject.y = data1[i].industrypermits ;
                datatest.push(dataObject);
            }
            var datas = new Object();
            datas.data = datatest ;
            datas.name ="发放数量" ;
            lastdata.push(datas)
            var chart = Highcharts.chart('yearindusStatic',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                exporting:{
                    enabled:false
                },
                legend: {
                    enabled: false
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories:name,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    allowDecimals:false

                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} 个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                if(e.point.category!="未知类型"){
                                    admin.req({
                                        url:setter.remoteServiceAddress+"/sys/syshangyedaima/getDaiMaZhi"
                                        ,data:{"value":e.point.category}
                                        ,done:function (result) {
                                            var whereConditions={
                                                hasPermission: hasPermission
                                                ,industry:result.daiMaZhi
                                                ,differ:1
                                                ,year:year
                                            };
                                            editwin(e.point.category,whereConditions);
                                        }
                                    });
                                }else {
                                    var whereConditions={
                                        hasPermission: hasPermission
                                        ,unknownType:1
                                        ,differ:1
                                        ,year:year
                                    };
                                    editwin(e.point.category,whereConditions);
                                }
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                series:lastdata
            });
        }
        function percentStatic(data,year){
            var chart = Highcharts.chart('percentStatic', {

                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
//                    floating:true,
                    text: ''
//                    ,style:{
//                        fontSize:"12px"
//                    }
                },

                credits: {
                    enabled: false
                },
                exporting:{
                    enabled:false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
//                        point: {
//                            events: {
//                                mouseOver: function(e) {  // 鼠标滑过时动态更新标题
//                                    // 标题更新函数，API 地址：https://api.hcharts.cn/highcharts#Chart.setTitle
//                                    chart.setTitle({
//                                        text: e.target.name+ '\t'+ e.target.y + ' %'
//                                    });
//                                }
//                                //,
//                                // click: function(e) { // 同样的可以在点击事件里处理
//                                //     chart.setTitle({
//                                //         text: e.point.name+ '\t'+ e.point.y + ' %'
//                                //     });
//                                // }
//                            }
//                        }
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                if(e.point.name!="未知类型"){
                                    admin.req({
                                        url:setter.remoteServiceAddress+"/sys/syshangyedaima/getDaiMaZhi"
                                        ,data:{"value":e.point.name}
                                        ,done:function (result) {
                                            var whereConditions={
                                                hasPermission: hasPermission
                                                ,industry:result.daiMaZhi
                                                ,differ:1
                                                ,year:year
                                            };
                                            editwin(e.point.name,whereConditions);
                                        }
                                    });
                                }else {
                                    var whereConditions={
                                        hasPermission: hasPermission
                                        ,unknownType:1
                                        ,differ:1
                                        ,year:year
                                    };
                                    editwin(e.point.name,whereConditions);
                                }
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    type: 'pie',
                    innerSize: '80%',
                    name: '所占比例',
                    data:data
                }]
            }, function(c) { // 图表初始化完毕后的会掉函数
                // 环形图圆心
                var centerY = c.series[0].center[1],
                    titleHeight = parseInt(c.title.styles.fontSize);
                // 动态设置标题位置
                c.setTitle({
                    y:centerY + titleHeight/2
                });
            });

        }
        function query(year){
            admin.req({ //月份查询案件金额/数量查询
                url: baseurl2 + "/" + year
                ,done: function(result){
                    if(result.code == 0){//成功
                        var  datatemp = result.data;
                        monthTotal(datatemp);
                    }else{

                    }
                }
            });

            admin.req({ //违法类型饼状图
                url: baseurl3 + "/" + year
                ,done: function(result){
                    if(result.code == 0){//成功
                        var  datatemp = result.data;
                        yearindusStatic(datatemp,year);
                        percentStatic(datatemp,year);

                        HighchartsToTable(datatemp);

                    }else{

                    }
                }
            });
            admin.req({//根据id获取该记录的详细信息
                url: baseurl1 + "/" + year
                ,done: function(result){
                    if(result.code == 0){//成功
                        var datatemp = result.data;
                        compareTotal(datatemp,year);
                    }else{

                    }
                }
            });

        }

        /**
         * 将Highcharts图表数据生成Table表格
         * @param div  统计图表的div的Id
         * @param table  要生成表格的div的Id
         * @param unitName  各个统计图的单位信息
         */
        function HighchartsToTable(data) {
            var table = $("#chartPro");
            //获取图表对象
            // var chart = div.highcharts();
            //var chart =  $('#typeStatic').Highcharts();
            //lert(chart);
            //获取X轴集合对象
            // var categories = chart.xAxis[0].categories;
            //获取series集合
            // var seriesList = chart.series;
            //获取标题
            var title = "标题";
            var unitName = "数量"
            //先清空原表格内容
            table.html("");
            //获取表格div对象
            var tableObj = table;
            //定义行元素<tr></tr>
            var tr;
            //定义表格体<table></table>
            var tab;
            var td;
            tab = $("<table cellspacing='1' cellpadding='1'  width='100%' style=\"border:solid #add9c0; border-width:1px 0px 0px 1px;text-align:center;margin: 2px;\" ></table>")
            tab.appendTo(tableObj);
            //第一行，放置标题
            tr = $("<tr></tr>");
            tr.appendTo(tab);
            var td = $("<td colspan='" + data.length + 1 + "' style=\"border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;\" >" + title +"<b style=\"font-size:14px;font-family:'Times New Roman','Microsoft YaHei';float:right\">"+unitName+"</b>"+ "</td>");
            td.appendTo(tr);
            //下一行，放置数据
            tr = $("<tr ></tr>")
            tr.appendTo(tab);
            /* td = $("<td style=\"border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;\">222</td>");
             td.appendTo(tr);*/
            var names = ["月份","数量"] ;
            for ( var i = 0; i < names.length; i++) {

                td = $("<td style=\"border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;\">" + names[i] +i +"</td>");
                td.appendTo(tr);
            }
            //分批插入数据
            for ( var i = 0; i < data.length; i++) {
                tr = $("<tr></tr>");
                tr.appendTo(tab);
                for ( var j = 0; j < data.length; j++) {
                    td = $("<td style=\"border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;align:center\">" + data[j].name +j+ "</td>");
                    td.appendTo(tr);
                }
            }

        }

        //默认年份点击事件
        admin.req({//
            url: setter.remoteServiceAddress + "/common/exportExcel/getDate"
            , done: function (result) {
                var mills = new Date(Date.parse(result.date.replace(/-/g,"/"))).getTime();//获得毫秒数
                var date = new Date(mills);
                var myyear=date.getFullYear();
                for(var i=myyear;i >= 2017;i--){
                    $("#year").append("<span >"+i+"</span>")
                }
//               query(year);
                //绘制表格
                HighchartsToTable($("#chartPro"),$("#container"),("（单位：立方米）"));
                $("#year span").on("click",function () {
                    $("#year span").attr("style","background-color:#CCCCCC");
                    $(this).attr("style","background-color:#0099FF");
                    year=$(this).text();
                    query(year);
                });
                //默认年份点击事件
                $("#year span:first-child").trigger("click");
                admin.req({//根据id获取该记录的详细信息
                    url: baseurl1 + "/" + myyear
                    ,done: function(result){
                        if(result.code == 0){//成功
                            var datatemp = result.data;
                            $("#changeMoneys").html(result.data[0].curyeartemppermit);
                            $("#curmonerycount").html(result.data[0].totalpermits);
                            $("#cutcasescount").html(result.data[0].curyearpermits);
                            $("#growthRate").html(result.data[0].curyearformalpermit);
                            compareTotal(datatemp,myyear);
                        }else{

                        }
                    }
                });
//                $("#totalType span:first-child").trigger("click");
            }
        });
//        $("#year span").on("click",function () {
//
//            $("#year span").attr("style","background-color:#CCCCCC");
//            $(this).attr("style","background-color:#0099FF");
//            year=$(this).text();
//            query(year);
//            //alert(year);
//        });
//        $("#year span:first-child").trigger("click");

//        $("#totalType span").on("click",function () {
//
//            $("#totalType span").attr("style","color:#CCCCCC;"); //border: 1px solid #CCCCCC;
//            $(this).attr("style","background-color:#0099FF;"); //border: 1px solid #0099FF;
//            totalType=$(this).text();
//            if(totalType=="金额"){
//                type = '1';
//               // statictitle ='处罚金额(万元)';
//               // showname = "金额";
//            }else if(totalType=="数量"){
//                type = '2';
//               // statictitle = '处罚案件数量(个)';
//                //showname = "数量";
//            }
//
//            query(year);
//            //alert(totalType);
//        });
//        $("#totalType span:first-child").trigger("click");
        var editwin = function(title,whereConditions){
            var element="LAY-online-onlineMonitorCompany";
            var colstemp=[[
                {type: 'numbers', title: '序号',minWidth: 100,unresize: true}
                ,{field: 'companyName', title: '单位名称', event: 'getContract', minWidth: 130,unresize: true,templet: function(item, index){
                    if(item.companyName!=""){
                        return '<span title="'+item.companyName+'">'+item.companyName+'</span>';
                    }}}
                ,{field: 'permitCode', title: '许可证编号', unresize: true, minWidth: 100,event:"showDetial",style:'color:blue;cursor:pointer;'}
                ,{field: 'industry', title: '行业类别',  width: 140,unresize: true}
                ,{field: 'startDate', title: '有效期开始日期',  minWidth: 110,unresize: true}
                ,{field: 'endDate', title: '有效期结束日期',  minWidth: 110,unresize: true}
                ,{field: 'issueDate', title: '发证日期',  minWidth: 110,unresize: true}
                ,{field: 'remark', title: '操作', minWidth: 100,unresize: true,toolbar: '#barDemo1'}
            ]];

            statisticalBounced.bounced(element,colstemp,whereConditions,baseurl5,title);

            // $("#test").animate({height:'0px'},"fast");
            // $("#test").addClass("layui-hide");

            //表格点击监听事件
            table.on("tool(LAY-online-onlineMonitorCompany)",function (obj){
                if(obj.event=="showDetial"){
                    var data=obj.data;
                    layer.open({
                        type: 1
                        , title: "查看"
                        , area:   ['1100px', '660px']
                        // offset: '120px',
                        , content: recordShowInfo.innerHTML
                    });

                    for(var id in data){
                        $("#marketContractManageeditShowInfo [name='"+id+"']").val(data[id]);
                    }

                }
                if(obj.event ==='zhengben'){
                    attachment.view(obj.data.originalDocument);
                }
                if(obj.event ==='fuben'){
                    attachment.view(obj.data.copyFile);
                }
            });
            $("#sousuo").click(function(){
                var onlineCompanyReload=$("#onlineCompanyReload").val();
                table.reload('LAY-online-onlineMonitorCompany', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        companyName:onlineCompanyReload
                    }
                });
            });
            $("#chongzhi").click(function(){
                $("#onlineCompanyReload").val("")
                $("#sousuo").click();
            })

        };
        var active = {
            OnlineMonitoringEnterprise : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                    //本年度发放排污许可证
                    ,differ:0

                };
                editwin("本年度发放排污许可证",whereConditions);
            }
            ,KeyMonitoringEnterprises : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                };
                editwin("累计发放排污许可证",whereConditions);
            }
            ,WasteDischargeEnterprise : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                    //本年度发放排污许可证
                    ,differ:0
                    //本年度发放正式/临时排污许可证
                    ,permitType:1

                };
                editwin("本年度发放正式排污许可证",whereConditions);
            }
            ,emissionEnterprise : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                    //本年度发放排污许可证
                    ,differ:0
                    //本年度发放正式/临时排污许可证
                    ,permitType:0

                };
                editwin("本年度发放临时排污许可证",whereConditions);
            }

        };

        $('.enterpriseType').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>