<!--<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>-->
<title>移动执法</title>
<style type="text/css">
    .layui-carousel-ind{
        position: absolute;
        top: -38px;
        text-align: center
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>数据统计</cite></a>
        <a><cite>移动执法</cite></a>
    </div>
</div>
<div class="layui-fluid"  >
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3 enterpriseType " data-type="OnlineMonitoringEnterprise" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #49A9EE;border: 1px solid #49A9EE;">
                        <i class="iconfont total-font">&#xe69e;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">本年度执法次数</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="LawEnforcementNumber"></span><span>次</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 enterpriseType" data-type="KeyMonitoringEnterprises" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #FFCC66;border: 1px solid #FFCC66;">
                        <i class="iconfont total-font">&#xe662;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">执法人员</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="LawEnforcementPersonnel"></span><span>人</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 enterpriseType" data-type="WasteDischargeEnterprise" style="cursor:pointer">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #99CC00;border: 1px solid #99CC00;">
                        <i class="iconfont total-font">&#xe761;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">本年度发现问题</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="FoundTheProblem"></span><span>个</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3 ">
            <div class="layui-card total-height">
                <div class="layui-card-header total-title-top">
                    <div class="total-box-radio layui-col-md6" style="background-color: #FF6633;border: 1px solid #FF6633;">
                        <i class="iconfont total-font">&#xe7a9;</i>
                    </div>
                    <span class="layui-col-md6 total-margin">与去年相比，移动执法总额增加</span>
                </div>
                <div class="layui-card-body total-title-down">
                    <p>
                        <span id="growth"></span><span>%</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body total-title-top" style="height: 40px">
                    <div class="layui-col-md12 ">
                        <div style="display: inline-block">年份</div>
                        <div id="year">
                            <!--<span>2018</span>-->
                            <!--<span>2017</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm8">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span>月执法统计</span>
                        </div>
                        <div class="layui-card-body total-content">
                            <div id="statistical" class="total-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span>执法人次与去年对比</span>
                        </div>
                        <div class="layui-card-body total-content">
                            <div id="statisticalLastyearAndThisyear" class="total-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span>检查结果</span>
                        </div>
                        <div class="layui-card-body total-content">
                            <div id="checkTheResultStatistical" class="total-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span class="layuiadmin-span-color"style="margin-right:100px">问题类型</span>
                            <!--<button class="layui-btn layui-btn-radius layui-bg-blue"  id="list1">列表</button>-->
                            <!--<button class="layui-btn layui-btn-radius layui-bg-blue"id="chart1">图表</button>-->
                        </div>
                        <div class="layui-card-body total-content ">
                            <div id="statisticalProblemType" class="total-chart"></div>
                            <div id="statisticalProblemTypeList" class="total-chart layui-hide" style="height: 400px;overflow: auto;">
                                <table  border="1" width="100%">
                                    <thead>
                                    <tr>
                                        <th ><span >问题类型</span></th>
                                        <th ><span >问题次数</span></th>
                                        <th >占比</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb1">
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-carousel-ind">
                                    <button class="layui-btn layui-btn-radius layui-bg-gray"  id="list1">列表</button>
                                    <button class="layui-btn layui-btn-radius layui-bg-blue"   id="chart1">图表</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <span class="layuiadmin-span-color">执法类型统计</span>
                            <!--<button class="layui-btn layui-btn-radius layui-bg-blue" style="margin-left:100px" id="list2">列表</button>-->
                            <!--<button class="layui-btn layui-btn-radius layui-bg-blue" id="chart2">图表</button>-->
                        </div>
                        <div class="layui-card-body total-content">
                            <div id="lawEnforcementTypeStatistical" class="total-chart"></div>
                            <div id="lawEnforcementTypeStatisticalList"  style="height: 400px;overflow: auto;"  class="total-chart layui-hide"  >
                                <table border="1" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>执法类型</th>
                                        <th>执法次数</th>
                                        <th>占比</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tb2">
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-carousel-ind">
                                <button class="layui-btn layui-btn-radius layui-bg-gray" style="margin-left:100px" id="list2">列表</button>
                                <button class="layui-btn layui-btn-radius layui-bg-blue" id="chart2">图表</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="showAdministrativePenalty" type="text/html">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title" id="com-info">
            <li  id="com-info1" class="layui-this" value="0">现场检查情况</li>
            <li value="1">现场检查资料</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-card-body">
                            <form class="layui-form" id="administrativePenaltyShow" action="" lay-filter="component-form-element">
                                <input type="hidden" name="" value="undefined">
                                <input type="hidden" name="" value="undefined">
                                <table class="reporttable">
                                    <tbody>
                                    <tr>
                                        <td>检查单位：</td>
                                        <td>
                                            <input type="text" readonly name="checkCompany" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td></td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>执法人及执法证号</td>
                                        <td colspan="3">
                                            <input type="text" readonly name="checkPersonName" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>被检查单位：</td>
                                        <td>
                                            <input type="text" readonly name="companyName" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>被检查单位地址：</td>
                                        <td>
                                            <input type="text" readonly name="companyAddress" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>被检查单位法人：</td>
                                        <td>
                                            <input type="text" readonly name="companyRepresentative" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>法人联系电话：</td>
                                        <td>
                                            <input type="text" readonly name="representativePhone" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>检查开始时间：</td>
                                        <td>
                                            <input type="text" readonly name="checkStarttime" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>检查结束时间：</td>
                                        <td>
                                            <input type="text" readonly name="checkEndtime" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>现场负责人：</td>
                                        <td>
                                            <input type="text" readonly name="checkedCompanyLeader" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>负责人联系电话：</td>
                                        <td>
                                            <input type="text" readonly name="checkedCompanyLeaderPhone" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>记录人及执法证号：</td>
                                        <td>
                                            <input type="text" readonly name="recordPersonName" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>执法类型：</td>
                                        <td>
                                            <input type="text" readonly name="lawEnforcementTypeName" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>检查结果：</td>
                                        <td>
                                            <input type="text" readonly name="examinationResultsName" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                        <td>结果类型：</td>
                                        <td>
                                            <input type="text" readonly name="resultTypeStr" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>现场情况：</td>
                                        <td colspan="3">
                                            <textarea name="fieldSituation" readonly placeholder="" style="resize: none;" class="layui-textarea"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>监测意见：</td>
                                        <td colspan="3">
                                            <!--<div  name="monitoringOpinion" readonly placeholder="" style="resize: none;" class="layui-textarea"></div>-->
                                            <textarea name="monitoringOpinion" readonly placeholder="" style="resize: none;" class="layui-textarea"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--<div class="layui-form-item divbSysApprovalUnit.htmlutton"> -->
                                <!--<div> -->
                                <!--<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="component-form-element">保存</button> -->
                                <!--<button class="layui-btn layui-btn-normal" type="button" name="buildingHome3">返回</button>-->
                                <!--</div> -->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div id="monitorPortinfo0">
                    <table id="LAY-online-onlineMonitorPortinfo0" lay-filter="LAY-online-onlineMonitorPortinfo0"></table>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    layui.use(['admin', 'laytpl', 'element', 'table', 'attachment','upload','laydate','wasteProduceAndUse','statisticalBounced','baseInfoAttachment'], function () {
        var $ = layui.$
            , admin = layui.admin
            , laytpl = layui.laytpl
            , table = layui.table
            ,laydate = layui.laydate
            , element = layui.element
            , setter = layui.setter
            , wasteProduceAndUse = layui.wasteProduceAndUse
            , statisticalBounced = layui.statisticalBounced
            ,baseInfoAttachment=layui.baseInfoAttachment
            ,upload = layui.upload
            ,attachment = layui.attachment
            ,global_obj = {}
            ,form = layui.form
            ,baseurl5 = setter.remoteServiceAddress + "/mobile/mobileenforcementscene/playListBox";
        var hasPermission = false;
        var list1=null;
        var list2=null;
        //默认年份点击事件
        admin.req({//
            url: setter.remoteServiceAddress + "/common/exportExcel/getDate"
            , done: function (result) {
                var date=new Date(result.date);
                var myyear=date.getFullYear();
                for(var i=myyear;i >= 2017;i--){
                    $("#year").append("<span >"+i+"</span>")
                }
                $("#year span").on("click",function () {
                    $("#statisticalProblemType").removeClass("layui-hide");
                    $("#statisticalProblemTypeList").addClass("layui-hide");
                    $("#lawEnforcementTypeStatistical").removeClass("layui-hide");
                    $("#lawEnforcementTypeStatisticalList").addClass("layui-hide");
                    $("#year span").attr("style","background-color:#CCCCCC");
                    $(this).attr("style","background-color:#0099FF");
                    var year=$(this).text();
                    defaultClick(year);
                });
                //默认年份点击事件
                $("#year span:first-child").trigger("click");
            }
        });

        function statistical(data,year) {
            var chart = Highcharts.chart('statistical',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                exporting:{
                    enabled:false
                },
                legend: {
                    enabled: false
                }
                ,credits: {
                    enabled: false
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        '一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '移动执法 (次)'
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:f} 次</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                var yearMonth=year+"-"+changeDateTpl(admin,setter,e.point.category);
                                var whereConditions={
                                    hasPermission: hasPermission
                                    ,yearMonth:yearMonth
                                    ,differ:1
                                };
                                editwin(e.point.category,whereConditions);

                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    name: '执法次数',
                    data:data
                }]
            });
        }
        function statisticalLastyearAndThisyear(data,year) {
            var chart = Highcharts.chart('statisticalLastyearAndThisyear',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                exporting:{
                    enabled:false
                },
                legend: {
                    enabled: false
                }
                ,credits: {
                    enabled: false
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: ['今年','去年'],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '执法人次'
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:f} 次</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                var yearType=changeDateTpl(admin,setter,e.point.category);
                                var whereConditions={
                                    hasPermission: hasPermission
                                    ,yearType:yearType
                                    ,year:year
                                    ,differ:1
                                };
                                editwin(e.point.category,whereConditions);

                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    name: '执法次数',
                    data: data
                }]
            });
        }
        function checkTheResultStatistical(data,year){
            var chart = Highcharts.chart('checkTheResultStatistical', {
                chart: {
                    spacing : [40, 0 , 40, 0]
                },
                title: {
                    floating:true,
                    text: ''
                },
                exporting:{
                    enabled:false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        point: {
                            events: {
                                // mouseOver: function(e) {  // 鼠标滑过时动态更新标题
                                //     // 标题更新函数，API 地址：https://api.hcharts.cn/highcharts#Chart.setTitle
                                //     chart.setTitle({
                                //         text: e.target.name+ '\t'+ e.target.y + ' %'
                                //     });
                                // }
                                //,
                                // click: function(e) { // 同样的可以在点击事件里处理
                                //     chart.setTitle({
                                //         text: e.point.name+ '\t'+ e.point.y + ' %'
                                //     });
                                // }
                            }
                        }
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                admin.req({
                                    url:setter.remoteServiceAddress+"/market/cominfobaseinfo/getDict"
                                    ,data:{"value":e.point.name,"type":"examination_results_type"}
                                    ,done:function (result) {
                                        var whereConditions={
                                            hasPermission: hasPermission
                                            ,examinationResults:result.data[0].key
                                            ,year:year
                                            ,differ:1
                                        };
                                        editwin(e.point.name,whereConditions);
                                    }
                                });
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series: [{
                    type: 'pie',
                    innerSize: '80%',
                    name: '占比',
                    data:data
                }]
            }, function(c) { // 图表初始化完毕后的会掉函数
                // 环形图圆心
                var centerY = c.series[0].center[1],
                    titleHeight = parseInt(c.title.styles.fontSize);
                // 动态设置标题位置
                c.setTitle({
                    y:centerY + titleHeight/2
                });
            });
        }
        function statisticalProblemType (data,year){
            Highcharts.chart('statisticalProblemType', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                exporting:{
                    enabled:false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        // allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                admin.req({
                                    url:setter.remoteServiceAddress+"/market/cominfobaseinfo/getDict"
                                    ,data:{"value":e.point.name,"type":"mobileEnforcement_problemType"}
                                    ,done:function (result) {
                                        var whereConditions={
                                            hasPermission: hasPermission
                                            ,resultType:result.data[0].key
                                            ,year:year
                                            ,differ:1
                                        };
                                        editwin(e.point.name,whereConditions);
                                    }
                                });
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series:[{
                    name: '占比',
                    colorByPoint: true,
                    data:data,
                    size: '60%'

                }]
            });
        }
        function lawEnforcementTypeStatistical (data,year){
            Highcharts.chart('lawEnforcementTypeStatistical', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                exporting:{
                    enabled:false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        // allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                    ,series:{
                        events: {
                            click: function (e) {
                                admin.req({
                                    url:setter.remoteServiceAddress+"/market/cominfobaseinfo/getDict"
                                    ,data:{"value":e.point.name,"type":"law_enforcement_type_type"}
                                    ,done:function (result) {
                                        var whereConditions={
                                            hasPermission: hasPermission
                                            ,lawEnforcementType:result.data[0].key
                                            ,year:year
                                            ,differ:1
                                        };
                                        editwin(e.point.name,whereConditions);
                                    }
                                });
                            }
                        }
                        ,dataLabels:{
//                            enabled: true,
                            style:{
                                "cursor":"pointer"
                            }
                        }
                    }
                },
                colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
                series:[{
                    name: '占比',
                    colorByPoint: true,
                    data:data
                }]
            });
        }
        //问题类型列表、图表点击事件
        $("#list1").click(function(){
            $("#list1").removeClass("layui-bg-gray").addClass("layui-bg-blue");
            $("#chart1").removeClass("layui-bg-blue").addClass("layui-bg-gray");
            $("#statisticalProblemType").addClass("layui-hide");
            $("#statisticalProblemTypeList").removeClass("layui-hide");
            $('#tb1').html("");
            var trStr = '';
            for (var i = 0; i <list1.length; i++) {//循环遍历出json对象中的每一个数据并显示在对应的td中
                trStr += '<tr class="example">';//拼接处规范的表格形式
                trStr += '<td width="30%"  align="center" >' +list1[i].name+ '</td>';
                trStr += '<td width="30%" align="center">' +list1[i].y+ '</td>';
                trStr += '<td width="30%" align="center">'+list1[i].proportion+'%</td>';
                trStr += '</tr>';
            }
            $("#tb1").html(trStr);
        });
        $("#chart1").click(function(){
            $("#list1").removeClass("layui-bg-blue").addClass("layui-bg-gray");
            $("#chart1").removeClass("layui-bg-gray").addClass("layui-bg-blue");
            $("#statisticalProblemType").removeClass("layui-hide");
            $("#statisticalProblemTypeList").addClass("layui-hide");
        });
        //本年度执法类型统计 列表、图表点击事件
        $("#list2").click(function(){
            $("#list2").removeClass("layui-bg-gray").addClass("layui-bg-blue");
            $("#chart2").removeClass("layui-bg-blue").addClass("layui-bg-gray");
            $("#lawEnforcementTypeStatistical").addClass("layui-hide");
            $("#lawEnforcementTypeStatisticalList").removeClass("layui-hide");
            $('#tb2').html("");
            var trStr = '';
            for (var i = 0; i <list2.length; i++) {//循环遍历出json对象中的每一个数据并显示在对应的td中
                trStr += '<tr class="example">';//拼接处规范的表格形式
                trStr += '<td width="30%"  align="center" >' +list2[i].name+ '</td>';
                trStr += '<td width="30%" align="center">' +list2[i].y+ '</td>';
                trStr += '<td width="30%" align="center">'+list2[i].proportion+'%</td>';
                trStr += '</tr>';
            }
            $("#tb2").html(trStr);
        });
        $("#chart2").click(function(){
            $("#list2").removeClass("layui-bg-blue").addClass("layui-bg-gray");
            $("#chart2").removeClass("layui-bg-gray").addClass("layui-bg-blue");
            $("#lawEnforcementTypeStatistical").removeClass("layui-hide");
            $("#lawEnforcementTypeStatisticalList").addClass("layui-hide");
        });
        function defaultClick(year){
            admin.req({
                url: setter.remoteServiceAddress + "/mobile/mobileenforcementscene/comprehensiveStatistical/"+year
                , done: function (result) {
                    if(result.code == 0){
                        $("#LawEnforcementNumber").html(result.LawEnforcementNumber);
                        $("#LawEnforcementPersonnel").html(result.LawEnforcementPersonnel);
                        $("#FoundTheProblem").html(result.FoundTheProblem);
                        $("#growth").html(result.growth);
                        statistical(result.monthContainer,year);
                        statisticalLastyearAndThisyear(result.contrast,year);
                        checkTheResultStatistical(result.checkTheResultStatistical,year);
                        statisticalProblemType(result.statisticalProblemType,year);
                        list1=result.statisticalProblemType;
                        lawEnforcementTypeStatistical(result.lawEnforcementTypeStatisticalist,year);
                        list2=result.lawEnforcementTypeStatisticalist
                    }
                }
            });
        }

        var editwin = function(title,whereConditions){
            var element="LAY-online-onlineMonitorCompany";
            var colstemp=[[
                {type: 'numbers', title: '序号',unresize: true}
                ,{field: 'companyName', title: '被检查单位', minWidth: 100,event:'preview',style:'color:blue;cursor:pointer;',unresize: true,templet: function(item, index){
                        if(item.companyName!=""){
                            return '<span title="'+item.companyName+'">'+item.companyName+'</span>';
                        }}
                }
                ,{field: 'companyAddress', title: '被检查单位地址',minWidth: 100,unresize: true}
                ,{field: 'checkPersonName', title: '执法人及执法证号', minWidth:100,unresize: true,templet: function(item, index){
                        if(item.checkPersonName!=""){
                            return '<span title="'+item.checkPersonName+'">'+item.checkPersonName+'</span>';
                        }}}
                ,{field: 'lawEnforcementTypeName', title: '执法类型', width: 100,unresize: true}
                ,{field: 'checkStarttime', title: '检查时间', width: 180,unresize: true}
                ,{field: 'examinationResultsName', title: '检查结果', width: 210,unresize: true}
            ]];
            statisticalBounced.bounced(element,colstemp,whereConditions,baseurl5,title);

            // $("#test").animate({height:'0px'},"fast");
            // $("#test").addClass("layui-hide");

            //表格点击监听事件
            table.on("tool(LAY-online-onlineMonitorCompany)",function (obj){
                if(obj.event=="preview"){
                    pid = obj.data.pid;
                    layer.open({
                        type: 1
                        ,title: "查看"
                        ,area: ['1100px', '660px']
                        // offset: '120px',
                        ,content: showAdministrativePenalty.innerHTML
                    });
                    var differType=0;
                    $('#com-info li').on('click', function(){
                        var data = obj.data;
                        differType = $(this).attr("value");
                        if(differType==0){
                            for (var attr in data) {
                                if(attr=="monitoringOpinion"){
                                    var monitoringOpinion=data.monitoringOpinion==null?'':data.monitoringOpinion.replace(/<br\/>/g,"");
                                    $("#administrativePenaltyShow [name='monitoringOpinion']").val(monitoringOpinion);
                                }else{
                                    $("#administrativePenaltyShow [name=" + attr + "]").val(data[attr]);
                                }

                            }
                        }
                        if(differType==1){
                            table.render({//查询列表信息
                                elem: '#LAY-online-onlineMonitorPortinfo0'
                                ,url: setter.remoteServiceAddress + "/mobile/mobileenforcementattachment"
                                ,page: true
                                ,height: 'full-300'
                                ,where: {
                                    hasPermission: hasPermission
                                    ,mid:data.pid
                                    ,type:0//移动执法附件类型（0：现场检查；1：调查询问）
                                }
                                ,headers: {
                                    access_token: layui.data(setter.tableName).access_token
                                }
                                ,cols: [[
                                    // {type: 'checkbox', fixed: 'left',width:"3%"}
                                    // {type: 'numbers', title: '序号',minWidth: 100,unresize: true}
                                    {field: 'fileName', title: '资料名', minWidth: 100,event:'fujian',style:'color:blue;cursor:pointer;',unresize: true}
                                    ,{field: 'attachmentSize', title: '大小',minWidth: 100,unresize: true}
                                    ,{field: 'createdateStr', title: '上传时间', minWidth:100,unresize: true}
                                    ,{field: 'attachmentFormat', title: '格式', minWidth: 100,unresize: true}
                                ]]
                                ,skin: 'line'
                                ,even: true //开启隔行背景
                            });
                        }
                    });
                    $("#com-info1").trigger('click');
                    table.on('tool(LAY-online-onlineMonitorPortinfo0)',function (obj) {
                        var data=obj.data;
                        if (obj.event == 'fujian') {
                            baseInfoAttachment.view(data.attachmentUrl);
                        }
                    });
                }
            });
            $("#sousuo").click(function(){
                var onlineCompanyReload=$("#onlineCompanyReload").val();
                table.reload('LAY-online-onlineMonitorCompany', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        cominfoBaseinfoName:onlineCompanyReload
                    }
                });
            });
            $("#chongzhi").click(function(){
                $("#onlineCompanyReload").val("")
                $("#sousuo").click();
            })

        };
        var active = {
            OnlineMonitoringEnterprise : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                    //本年度执法次数
                    ,numberLawEnforcement:"1"
                    ,differ:0
                };
                editwin("本年度执法次数",whereConditions);
            }
            ,KeyMonitoringEnterprises : function(othis,data){
                // var equalColumns = [];
                // equalColumns.push({column:"online_monitoring", value:1});
                // tablewhere.equalColumns=equalColumns;
//                var data={"lawEnforcementOfficials":"1"};
//                editwin("执法人员",data);
            }
            ,WasteDischargeEnterprise : function(othis,data){
                var whereConditions={
                    hasPermission: hasPermission
                    //发现问题
                    ,foundProblem:"1"
                    ,differ:0
                };
                editwin("发现问题",whereConditions);
            }
            // ,emissionEnterprise : function(othis,data){
            //     // var equalColumns = [];
            //     // equalColumns.push({column:"online_monitoring", value:1});
            //     // tablewhere.equalColumns=equalColumns;
            //     var data={"emissionEnterprises":"1"};
            //     editwin("废气排放企业",data);
            // }
        };

        $('.enterpriseType').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

